:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--heading-font-family);
}

nav {
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h5 {
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 63px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}

.about-section p {
  font-size: 16px;
  font-family: var(--default-font-family);
  text-align: left;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}

.page-bottom {
  background-color: var(--secondary-color);
  margin: 80px 200px;
  padding: 40px 40px;
  border-radius: 20px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.page-bottom h2 {
  font-size: 48px;
  text-align: left;
}

.circle {
  background: var(--secondary-color);
  border-radius: 50%;
  height: 2em;
  width: 2em;
  position: relative;
}

.circle-icon {
  color: var(--branding-color);
  fill: currentColor;
  height: 50%;
  left: 50%;
  position: absolute;
  stroke: currentColor;
  stroke-width: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
